
.btn:hover{
    background-color: rgb(66, 234, 114);
    color: black;
}
.card{
    margin: 20px;
    text-align: center;
}
.card-img-top{
    width: 200px;
    margin-left: 45px;
}
#copyright{
    font-size: 15px;
    font-weight: bold;
}
.card:hover{
    border: 2px solid rgb(131, 220, 130);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
